---
layout: layouts/base.njk
permalink: /posts/
title: All Blog Posts
---

<h1>Blog Posts</h1>


{%- for post in collections.post | reverse -%}
<div class="blog-post">
 <span class="blog-post-date">{{post.data.date |  htmlDateString   }}</span> 
  <a href="{{ post.url | url }}" > {{ post.data.title }} </a>
</div>
{%- endfor -%}
