--- 
permalink: /sitemap-tags.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for tag in collections.tagList %}
        {% set tagUrl %}/tag/{{ tag.name | slug  }}/{% endset %}
            <url>
                <loc>{{site.url}}{{ tagUrl | url }}</loc>
            </url>
        
    {% endfor %}
</urlset>