<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }} - Ravi Vyas</title>
    <link rel="stylesheet" href="{{site.url}}/css/styles.css">
    <link rel="canonical" href="{{site.url}}{{page.url}}">
  </head>
  <body>
  <div class="header-sidebar"></div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li><a href="{{site.url}}">Ravi Vyas <span>Musings of a Learner</span></a></li>
      <li><a href="https://vanila.io" target="_blank">Company</a></li>
      <li><a href="https://instagram.com/plavookac" target="_blank">Instagram</a></li>
      <li><a href="https://twitter.com/plavookac" target="_blank">Twitter</a></li>
      <li><a href="https://www.youtube.com/channel/UCDfZM0IK6RBgud8HYGFXAJg" target="_blank">YouTube</a></li>
      <li><a href="{{site.url}}/posts">All Posts</a></li>
    </ul>
</div>
  <div id='center' class="main center">
    <div class="container">
      {{ content | safe }}
    </div>
    <footer>
      <div class="container">
        Built by <a href="https://twitter.com/philhawksworth">Phil</a>, and generated by <a href="https://11ty.io">Eleventy</a> on <a href="https://www.netlify.com">Netlify</a>. Nose around <a href="{{ pkg.repository.url }}">in the source code</a>.
      </div>
    </footer>
    </div>
  </body>
</html>